# package.lock
packages/**/package-lock.json

# temp files
.DS_Store
Thumbs.db
Desktop.ini
npm-debug.log

# project ignores
*.map
*.log
**/debug
node_modules
test-results
packages/**/lib/**/*
packages/**/types/**/*
packages/**/dist
