# package.lock
packages/**/package-lock.json

# temp files
.DS_Store
Thumbs.db
Desktop.ini
npm-debug.log

# project ignores
*.map
*.log
**/debug
node_modules
test-results
dist
out
temp

# package ignores
packages/**/lib/**/*
packages/**/types/**/*
packages/**/dist

# demo server cache and storage dir
packages/**/cache/**/*
!packages/**/cache/README.md
